{% extends 'base.html' %}
{% load static from staticfiles %}

{% block contenido %}

	<form method = "post" action = "/perfil/tuitear/">
		<textarea name = "tuit"></textarea>
		<button type = "submit">Enviar</button>
	</form>

	{% if tuits %}
		{% for tuit in tuits %}
			<div>
				{{ user.username }}<br />
				{{ tuit.mensaje }}
			</div>
		{% endfor %}
	{% endif %}

{% endblock %}